In [13]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

#### Creamos nuestro producer que va a ser nuestro objecto que va a estar conectado a la EC2 mandando lo que deseemos
###### En la parte donde iria nuestra ip otorgada por AWS esta puesto {ip_public_in_the_aws} por temas de seguridad

In [14]:
producer = KafkaProducer(bootstrap_servers=['{ip_public_in_the_aws}:9092'],
                        value_serializer=lambda x: 
                        dumps(x).encode('utf-8'))

In [36]:
producer.send('demo_test', value="{'lobby' : '1'}")

In [37]:
df = pd.read_csv("indexProcessed.csv")

In [38]:
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [39]:
producer.flush()